<query-editor-row query-ctrl="ctrl" class="generic-datasource-query-row" has-text-edit-mode="true">
	<div class="gf-form-inline">
		<div class="gf-form">
			<label class="gf-form-label">enter your query below</label>
		</div>
	</div>

	<div class="gf-form-inline">
		<div class="gf-form gf-form--grow">
			<code-editor content="ctrl.target.data" data-mode="json" on-change="ctrl.onChangeInternal()" data-max-lines=30>
			</code-editor>
		</div>
	</div>

	<div class="gf-form-inline">
		<div class="gf-form max-width-25" ng-hide="ctrl.target.resultFormat === 'table'">
			<label class="gf-form-label query-keyword">ALIAS BY</label>
			<input
				type="text"
				class="gf-form-input"
				ng-model="ctrl.target.alias"
				spellcheck="false"
				placeholder="Naming pattern"
				ng-blur="ctrl.refresh()"
			/>
		</div>
	</div>
</query-editor-row>
